body
{

    background-color: rgb(126, 13, 13) ;

}

::-webkit-scrollbar
{

    width: 10px;

}

::-webkit-scrollbar-track
{

    background-color: rgb(126, 13, 13);

}

::-webkit-scrollbar-thumb
{

    background: #ff0000;

    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover
{

    background: #ff0000;

}

.footer-author
{

    color: #fff;

    font-family: 'Open Sans', sans-serif;

    padding-top: 25px;

}

.footer-author-name
{
    margin-left: 10px;

    color: #fff;

    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;

    text-align: center;

    background-image: linear-gradient(to right, #ffffff, #ff0000, #ffffff);

    -webkit-background-clip:  text;
    -webkit-text-fill-color: transparent;

}

.projects
{

    padding-top: 10px;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;

}

.project-card
{

    display: inline-block;

    margin: 10px;

    padding: 10px;

    border-radius: 10px;

    background-color: rgb(126, 13, 13);

    color: white;

}

.project-img
{

    width: 50%;
    height: auto;

}

.project-desc
{

    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
    
    display: inline-block;
    
    margin-left: 10px;
    margin-top: 10px;

    width: 50px;
    height: auto;

}

.skills
{

    background-color: rgb(126, 13, 13);
    
    width: 100%;
    height: 100%;

    display: flex; /* Lol funny number! */

    flex-direction: column;

    justify-content: center;

    align-items: center;

}

.s-text
{

    color: white;

    font-size: 25px;
    font-family: 'Roboto', sans-serif;

    margin-top: 2em;

    justify-content: center;

    align-items: center;

}

.project-title
{

    color: white;

    font-size: 50px;
    font-family: 'Roboto', sans-serif;

    margin-top: 2em;

}

.p-bio
{

    color: #fff;

    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.portfolio
{

    background-color: rgb(126, 13, 13);

    width: 100%;
    height: 30vh;

    display: flex;

    justify-content: center;

    align-items: center;

}

.p-text
{

    font-size: 50px;
    font-family: 'Open Sans', sans-serif;

    margin-left: 10px;
    margin-top: px;

}

.p-text1
{

    text-shadow: 0 0 5px #f9f9f9;
    color: #fff;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 800;

    text-align: center;

}

.p-text2
{

    margin-left: 10px;

    color: #fff;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 800;

    text-align: center;

    background-image: linear-gradient(to right, #7300ff, #00b3ff, #ffffff);

    -webkit-background-clip:  text;
    -webkit-text-fill-color: transparent;

}

.navbar 
{
    
    background-color: rgb(126, 13, 13);

    height: 50px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;

}

.nav-text
{

    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    padding-top: 10px;
    padding-left: 20px;

}

.navbar-menu
{

    float: right;

    margin-top: -45px;
    margin-right: 20px;

}

.navbar-li 
{

    list-style-type: none;

}

.nav-link
{

    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    padding-top: 10px;
    padding-left: 20px;

    text-decoration: none;

}

.p-highlight1
{

    font-family: 'Open Sans', sans-serif;
    
    color: #00ddff;

}

.p-highlight2
{

    font-family: 'Open Sans', sans-serif;
    
    color: rgb(255, 0, 0);

}

.p-highlight3
{
    
    font-family: 'Open Sans', sans-serif;

    color: #003fac;

}

.p-highlight4
{

    font-family: 'Open Sans', sans-serif;

    color: #ffffff;

}

.p-highlight5
{

    font-family: 'Open Sans', sans-serif;

    color: #ff0000;

}
